.contenu{
    background-color: rgb(24, 194, 137);
}
.menu{
    background-color: rgb(129, 127, 255);
}
.item{
    background-color: rgb(255, 204, 127);
}
.publicite{
    background-color: rgb(255, 127, 127);
}